#bo{
    background:linear-gradient(-90deg,black,rgba(255, 255, 255, 0.945),rgb(156, 102, 102) ,rgb(216, 216, 83), rgb(180, 63, 16), rgb(207, 34, 92), rgb(65, 30, 6));
}
#hhh{
    width: 1050px;
    height: 300px;
    border-width: 5px;
    border-style: groove;
    border-color:rgb(65, 30, 6);
    border-bottom: 5px double rgb(128, 0, 6);
    border-top:5px double rgb(19, 6, 7) ;
    border-left: 5px double yellow;
    border-right: 5px double green;
    display: flex; 
}
p{
    
}
#x{
    background: black;
    width: 200px;
    height: 200px;
    padding: 15px;
    border: 5px double rgb(211, 152, 152);
    margin: auto;
}
#y{
    background: black;
    width: 200px;
    height: 200px;
   padding: 15px;
   border: 5px double rgb(161, 133, 138);
   margin: auto;
}
#z{
    background: black;
    width: 200px;
    height: 200px;
    padding: 15px;
    border: 5px double rgb(212, 88, 88);
    margin: auto;
}
#bt{
   position: relative;
   height: 40px;
   width: 90px;
   top: 70px;
   left: -50px;
   right: 70px;
   background: linear-gradient(red, pink, orange);
}
#bbt{
    position: relative;
    height: 40px;
   width: 90px;
   top: 70px;
   left: -50px;
   right: 200px;
   background: linear-gradient(rgb(19, 179, 40), rgb(192, 225, 255), rgb(98, 0, 255));
}
#bbtt{
    position: relative;
    height: 40px;
   width: 90px;
   top: 70px;
   left: -50px;
   right: 200px;
   background: linear-gradient(rgb(229, 255, 0), rgb(216, 166, 174), rgb(225, 0, 255));
}
h2{
    color: blue;
    font-style: italic;
}
img{
    
    position: relative;
    height: 100px;
    width: 100px;  
    top: 5px;
    left: 50px;
}